<div class="card">
	<div class="card-header text-center">Filtros</div>

	<div class="card-body">
		<form>
			<div class="form-group mb-3">
				<label for="de">De :</label>
				<input type="number" id="de" class="form-control" />
			</div>
			<div class="form-group mb-3">
				<label for="ate">Até :</label>
				<input type="number" id="ate" class="form-control" />
			</div>

			<div class="text-center">
				<button type="button" class="btn btn-primary btn-sm btn-block">
					Filtrar
				</button>
			</div>
		</form>
	</div>
</div>
